page-prijava {
    .login-content {
        background-color: #D5D554;
    }

    .logo-row{
        padding-top: 60px;
        padding-bottom: 20px;
    }

    .login-box{
        border-radius: 10px;
        background-color: #311E12;
        padding: 20px 20px 0px 20px;
        margin-top: 10px;
    }

    ion-col{
        text-align: center;
    }

    img{
        width:70%;
    }
}