page-prijava {

    .login-content {
        background-color: #D5D554;
    }

    .logo-row {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .login-box {
        border-radius: 5px;
        background-color: #EAE78C;
        padding: 0px 5px 0px 5px;
        margin-top: 5px;
    }

     .submit-btn {
         background: #422918;
         border-radius: 5px !important;
     }

    .register-btn {
        color: #422918;
        font-size: 0.8em;
        padding-bottom: 10px;
    }

    ion-row {
        align-items: center;
        text-align: center;
    }

    ion-item {
        border-radius: 5px !important;
        margin-bottom: 5px !important;
    }

    ion-col {
        text-align: center;
    }

    img {
        width:70%;
    }
}