page-ocene {
    div.item-content{
        float: left;
        width: 70%; 
    }
    div.item-buttons{
        float: right;
    }  

    #button-delete{
        background-color: #311E12;
    }

    .item-md .item-button{
        width: 100%;
    }
}
