<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{restavracija.naziv_restavracije}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h5>Podatki o restavraciji</h5>
  <div class="item-buttons">
    <button ion-button item-end (click)="prikazZemljevida(restavracija)">Zemljevid</button> 
  </div>
  <div class="item-content"> 
    {{restavracija.naslov}}, {{restavracija.mesto}} <br/> 
    Vrednost obroka: {{restavracija.vrednostObroka}} €<br/> 
    Vrednost doplačila: {{restavracija.vrednostDoplacila}} €<br/>
    Telefonska številka: {{restavracija.telefon}} <br/>
    <div *ngFor="let ocena of povprecnaOcena" >
      Ocena uporabnikov: {{ocena.povprecje}} <img height="15px" src="/img/ocena/star-green.png" />
    </div>
  </div>

  <h5>Tip hrane</h5>
  <ion-list id="icons-meni">
      <ion-item no-lines *ngFor="let meni of tipiMenijev">
        <img height="60px" src="/img/icons-text/{{meni.vrstaMenija}}.png" />
      </ion-item>
  </ion-list>
  
  <h5>Ponudba</h5>
  <ion-list>    
    <ion-item text-wrap no-lines *ngFor="let meni of seznamMenijev">
      <b>Meni: </b> {{meni.juha + ', ' + meni.glavnaJed + ', ' + meni.solata + ', ' + meni.sladica}}
      <ion-icon item-left> <img height="30px" src="/img/icons/{{meni.vrstaMenija}}.png" /> </ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
